@use "sass:color";

@mixin button($color) {
  width: fit-content;
  cursor: pointer;
  background-color: $color;
  color: color.scale($color, $lightness: 90%);
  border: none;
  height: 2em;

  &:hover {
    background-color: color.scale($color, $lightness: 60%);
    color: $color;
  }
}

.btn {
  @include button(blue);

  &.green {
    @include button(green);
  }
  &.red {
    @include button(red);
  }
}

#my-btn-custom {
  @include button(black);
  anchor-name: --btn-custom;

  &:hover {
    & + #label-my-btn-custom {
      visibility: visible;
    }
  }
}

#label-my-btn-custom {
  position-anchor: --btn-custom;
  position: fixed;
  margin: 2px;
  position-area: top span-all;
  background-color: white;
  border: 1px dotted black;
  padding: 2px;
  position-visibility: no-overflow;
  visibility: hidden;
}
