.d-flex {
  display: flex;

  &.row {
    flex-direction: row;
  }

  &.column {
    flex-direction: column;
  }

  &.x-center {
    justify-content: center;
  }

  &.gap-2 {
    gap: 2em;
  }

  &.y-bottom {
    align-items: flex-end;
  }
}

.mt-2 {
  margin-top: 2em;
}
