@use "sass:color";

.input {
  border: 1px solid black;
  border-radius: 5px;
  height: 2em;

  &:focus {
    border-color: blue;
  }
}

.label {
  font-weight: 700;
  height: 20px;
}

.list-proposals {
  background-color: white;
  color: black;
  list-style: none;
  margin: 0;
  padding: 0px;
  border: 1px solid #ddd;
}

.proposal {
  cursor: pointer;
  padding: 2px;
  &:hover {
    background-color: color.scale(#333, $lightness: 90%);
  }
}
