html {
  width: 100vw;
  height: 100vh;
}

body {
  background-color: #efefef;
  color: #333;
  text-align: justify;
  max-width: 100%;
  font-size: 1rem;
}

.content {
  width: 90%;
  margin: auto;
}

@import url("@/assets/scss/_nav.scss");
@import url("@/assets/scss/_button.scss");
