html {
  width: 100vw;
  height: 100vh;
}

body {
  background-color: #efefef;
  color: #333;
  text-align: justify;
  max-width: 100%;
  font-size: 1rem;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

.content {
  width: 90%;
  margin: auto;
}

@import url("@/assets/scss/_nav.scss");
@import url("@/assets/scss/_button.scss");
@import url("@/assets/scss/_alert.scss");
@import url("@/assets/scss/_color.scss");
@import url("@/assets/scss/_container.scss");
@import url("@/assets/scss/_form.scss");
